<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h4 class='card-title'>Progress Bar</h4>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
               aria-valuemax="100" [style.width.%]="percent1" [attr.aria-valuenow]="percent1"></div>
        </div>
        <br>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
               aria-valuemin="0"
               aria-valuemax="100" [style.width.%]="percent2" [attr.aria-valuenow]="percent2"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador leyenda='Incrementador 1' [percent]='percent1' (changeValue)='percent1 = $event'></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador leyenda='Incrementador 2' [percent]='percent2' (changeValue)='percent2 = $event'></app-incrementador>
      </div>
    </div>
  </div>
</div>
