<div class='row animated fadeIn'>
  <div class='col-12'>
    <div class='card'>
      <div class='card-body'>

        <input #input type='text' class='form-control' placeholder="Buscar Usuario"
               (keyup)='buscarUsuarios(input.value)'>

      </div>
    </div>
  </div>
</div>

<div class='row animated fadeIn'>
  <div class='col-sm-12'>
    <div class='alert alert-warning text-center' *ngIf='loading'>
      <strong>Cargando...</strong>
      <br>
      <i class='fa fa-refresh fa-spin fa-2x'></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div class='row animated fadeIn' *ngIf='!loading'>
  <div class='col-12'>
    <div class='card'>
      <div class='card-body'>

        <h3 class='card-title'>Usuarios Registrados (<small>{{totalUsers}}</small>) </h3>

        <table class='table table-hover table-sm table-bordered'>
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Email</th>
              <th>Nombre</th>
              <th>Rol</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users;' class='animated flipInX'>
              <td class="w70">
                <img [src]='user.img | image' alt='' class='img50 img-circle pointer'
                     data-toggle="modal" data-target="#staticBackdrop" (click)='showModal(user._id, user.img)'>
              </td>
              <td>{{user.email}}</td>
              <td>{{user.name}}</td>
              <td>
                <select name='role' class="form-control" [(ngModel)]='user.role'>
                  <option value='ADMIN_ROLE'>ADMIN_ROLE</option>
                  <option value='USER_ROLE'>USER_ROLE</option>
                </select>
              </td>
              <td>
                <button class='btn btn-outline-primary btn-sm mr-1'
                        (click)='updateUser(user)'> <i class='fa fa-save'></i> </button>
                <button class='btn btn-outline-danger btn-sm'
                        (click)='deleteUser(user)'> <i class='fa fa-trash-o'></i> </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button class='btn btn-outline-secondary' (click)='paginateUsers(-5)'>Anteriores</button>
        <button class='btn btn-outline-secondary' (click)='paginateUsers(5)'>Siguientes</button>

      </div>
    </div>
  </div>
</div>
