<div class='row'>
  <div class="col-lg-7">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil de usuario</h4>
        <h6 class="card-subtitle">Nombre usuario</h6>
        <form class="form p-t-20" ngNativeValidate #frmProfile='ngForm'
              (ngSubmit)='save(frmProfile)'>

          <div class="form-group">
            <label for="exampleInputuname">Usuario</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input type="text" class="form-control" id="exampleInputuname" placeholder="Usuario" name='name'
                     required [ngModel]='user.name'>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name='email'
                     email required [ngModel]='user.email'>
            </div>
          </div>

          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">
            <i class='fa fa-save'></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-5">
    <div class="card">
      <div class="card-body" align='center'>
        <h4 class="card-title">Foto de usuario</h4>
        <h6 class="card-subtitle">----------</h6>
        <img *ngIf='!imagenTemporal' [src]='user.img | image' alt='' class='w150'>
        <img *ngIf='imagenTemporal' [src]='imagenTemporal' alt='' class='w150'>
        <input type='file' name='' id='' (change)='seleccionImagen($event.target.files[0])'>
        <hr>
        <button type="button" class="btn btn-success waves-effect waves-light m-r-10"
                (click)='cambiarImagen()' [disabled]='!imagenSubir'>
          <i class='fa fa-save'></i>
          Actualizar foto
        </button>
      </div>
    </div>
  </div>
</div>
