<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper"
         class="login-register login-sidebar"
         style="background-image:url(./../../assets/images/background/login-register.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <form class="form-horizontal form-material" id="loginform"
            ngNativeValidate [formGroup]='frmRegister' (ngSubmit)='register()'>
        <a href="javascript:void(0)"
           class="text-center db"><img src="./../../assets/images/logo-icon.png"
               alt="Home" /><br /><img src="./../../assets/images/logo-text.png"
               alt="Home" /></a>
        <h3 class="box-title m-t-40 m-b-0">Register Now</h3><small>Create your account and enjoy</small>
        <div class="form-group m-t-20">
          <div class="col-xs-12">
            <input class="form-control" type="text" placeholder="Nombre" name="name" required
                   formControlName='name'>
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="email" email placeholder="Email" name="email" required
                   formControlName="email">
          </div>
        </div>
        <div class="form-group ">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="*********" name="password" required
                   formControlName='password'>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input class="form-control" type="password" placeholder="Confirm Password" name="repeatPassword" required
                   formControlName='repeatPassword'>
          </div>
        </div>
        <div class='form-group animated fadeIn'
             *ngIf='frmRegister.errors?.passwordEquals && !frmRegister.pristine'>
          <p class='text-danger'>
            Las contraseñas debe ser iguales
          </p>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <div class="checkbox checkbox-primary p-t-0">
              <input id="checkbox-signup" type="checkbox" name='conditions'
                     formControlName='conditions'>
              <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
            </div>
          </div>
        </div>
        <div class="form-group text-center m-t-20">
          <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                    type="submit">Sign Up</button>
          </div>
        </div>
        <div class="form-group m-b-0">
          <div class="col-sm-12 text-center">
            <p>Already have an account? <a routerLink='/login'
                 class="text-info m-l-5"><b>Sign In</b></a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="./../../assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="./../../assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="./../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(function () {
    $(".preloader").fadeOut();
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
  // ==============================================================
  // Login and Recover Password
  // ==============================================================
  $('#to-recover').on("click", function () {
    $("#loginform").slideUp();
    $("#recoverform").fadeIn();
  });
</script>
