<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)='closeModal()'>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <img *ngIf='!imagenTemporal' [src]='modalUploadService.image | image' alt='' class='w150'>
        <img *ngIf='imagenTemporal' [src]='imagenTemporal' alt='' class='w150'>
        <input type='file' name='' id='' (change)='seleccionImagen($event.target.files[0])'>
        <hr>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)='closeModal()'>Cerrar</button>
        <button type="button" class="btn btn-primary"
                [disabled]='!imagenTemporal' (click)='uploadImagen()'>Subir imagen</button>
      </div>
    </div>
  </div>
</div>
