<h1>{{leyenda}} - {{percent}}</h1>
<div class="input-group mb-3">
  <button class="btn btn-success" type="button"><i class='mdi mdi-minus'
       (click)='changeProgress(-2)'></i></button>
  <input #incrementInput id='increment' type="number" class="form-control" min='1' max='100'
         [(ngModel)]='percent' (ngModelChange)='onChange($event)'>
  <button class="btn btn-primary" type="button"
          (click)='changeProgress(2)'><i class='mdi mdi-plus'></i></button>
</div>
