<h1>Graphics</h1>
<div class="row">
  <!-- GRAPHIC 0 -->
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [graphicTitle]='graphics.graphic_0.leyenda' [chartData]='graphics.graphic_0.data'
                   [chartLabels]='graphics.graphic_0.labels' [chartType]='graphics.graphic_0.type'></app-chart>
      </div>
    </div>
  </div>
  <!-- GRAPHIC 1 -->
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [graphicTitle]='graphics.graphic_1.leyenda' [chartData]='graphics.graphic_1.data'
                   [chartLabels]='graphics.graphic_1.labels' [chartType]='graphics.graphic_1.type'></app-chart>
      </div>
    </div>
  </div>
  <!-- GRAPHIC 2 -->
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [graphicTitle]='graphics.graphic_2.leyenda' [chartData]='graphics.graphic_2.data'
                   [chartLabels]='graphics.graphic_2.labels' [chartType]='graphics.graphic_2.type'></app-chart>
      </div>
    </div>
  </div>
  <!-- GRAPHIC 3 -->
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-chart [graphicTitle]='graphics.graphic_3.leyenda' [chartData]='graphics.graphic_3.data'
                   [chartLabels]='graphics.graphic_3.labels' [chartType]='graphics.graphic_3.type'></app-chart>
      </div>
    </div>
  </div>
</div>
