<div class='row'>
  <div class='col-5'>
    <div class='card'>
      <div class='card-body'>
        <h4 class='card-title'>Temas</h4>
        <hr>

        <div class="r-panel-body">

          <ul id="themecolors" class="m-t-20">
            <li><b>Con el sidebar claro</b></li>
            <li><a #link0 data-theme="default" class="selector default-theme"
                 (click)='changeTheme("default", link0)'>1</a></li>
            <li><a #link1 data-theme="green" class="selector green-theme"
                 (click)='changeTheme("green", link1)'>2</a></li>
            <li><a #link2 data-theme="red" class="selector red-theme"
                 (click)='changeTheme("red", link2)'>3</a></li>
            <li><a #link3 data-theme="blue" class="selector blue-theme"
                 (click)='changeTheme("blue", link3)'>4</a></li>
            <li><a #link4 data-theme="purple" class="selector purple-theme"
                 (click)='changeTheme("purple", link4)'>5</a></li>
            <li><a #link5 data-theme="megna" class="selector megna-theme"
                 (click)='changeTheme("megna", link5)'>6</a></li>

            <li class="d-block m-t-30"><b>Con el sidebar oscuro</b></li>
            <li><a #link6 data-theme="default-dark" class="selector default-dark-theme"
                 (click)='changeTheme("default-dark", link6)'>7</a></li>
            <li><a #link7 data-theme="green-dark" class="selector green-dark-theme"
                 (click)='changeTheme("green-dark", link7)'>8</a></li>
            <li><a #link8 data-theme="red-dark" class="selector red-dark-theme"
                 (click)='changeTheme("red-dark", link8)'>9</a></li>
            <li><a #link9 data-theme="blue-dark" class="selector blue-dark-theme"
                 (click)='changeTheme("blue-dark", link9)'>10</a></li>
            <li><a #link10 data-theme="purple-dark" class="selector purple-dark-theme"
                 (click)='changeTheme("purple-dark", link10)'>11</a></li>
            <li><a #link11 data-theme="megna-dark" class="selector megna-dark-theme"
                 (click)='changeTheme("megna-dark", link11)'>12</a></li>
          </ul>

        </div>

      </div>
    </div>
  </div>
</div>
