/* You can add global styles to this file, and also import other style files */

#themecolors a{
cursor: pointer;
}

.pointer{
  cursor: pointer;
}

.w150{
  width: 150px;
}

.img50{
  width: 50px;
}

.w70{
  width: 70px;
}
